<html>
<head>
<title>Welcome to {{ item }}.</title>
</head>
<body>
<h1>This is a test page for the domain {{ item }}</h1>
<h2>This website running with nginx on host with name: {{ ansible_facts.hostname }} <h2>
<h3>IP address of this host is {{ ansible_facts.all_ipv4_addresses[0] }}
</body>
</html>
