<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        </head>
    <body>
        <h1>This is unique nginx-server, which located on {{ inventory_hostname }}</h1>
        <h2>{{ inventory_hostname }} {{ inventory_hostname }} {{ inventory_hostname }}</h2>
    </body>
</html>
