---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: instance1
    image: ubuntu:20.04
    pre_build_image: true      
  - name: instance2
    image: centos:7
    pre_build_image: true
provisioner:
  name: ansible
verifier:
  name: ansible
