{% extends 'homepage/base.html' %}

{% block title %}
Articles
{% endblock %}

{% block body %}
<h3>Welcome to articles!</h3>
<br>
<ul class="list-group">
  {% for num in numbers_of_articles %}
  {% cycle 'primary' 'secondary' as theme silent%}
    <li class="list-group-item list-group-item-{{theme}}">Article №{{ num }}</li>
  {% empty %}
    <h4>Soory, no articles!</h4>
  {% endfor %}



  {% comment %}
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
  <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
  <li class="list-group-item list-group-item-success">A simple success list group item</li>
  <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
  <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
  <li class="list-group-item list-group-item-info">A simple info list group item</li>
  <li class="list-group-item list-group-item-light">A simple light list group item</li>
  <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
  {% endcomment %}
</ul>
{% endblock %}