<html>
<head>
    <title>{{ item.name }}</title>
</head>
<body>
    <h1>Welcome to {{ item.name }}</h1>
    <p>Homework 06.Ansible Workshop</p>
    <p>Host: {{ ansible_hostname }}</p>
</body>
</html>
