---
- name: Check user with sudo and NOPASSWD
  command: cat /etc/sudoers.d/testsid
  register: usr
  ignore_errors: yes
  changed_when: False

- name: Check user permission
  debug:
    msg: "{{ usr.stdout }}"

- name: debian system repository
  include: debian.yaml
  when: ansible_os_family == 'Debian'

- name: repository redhat system
  include: redhat.yaml
  when: ansible_os_family == 'RedHat'

- name: Check disk space
  assert:
    that:
      - not {{ item.mount == '/' and ( item.size_available < item.size_total - ( item.size_total|float * 0.8 ) ) }}
  with_items: "{{ ansible_mounts }}"
  ignore_errors: yes
  register: disk_free

- name: Print disk info
  debug:
    msg: "{{ disk_free }}"

- name: cheÑk RAM
  debug:
    msg: "Amount of RAM is {{ ansible_memory_mb.real.total }}"

- name: if no memory
  debug:
    msg: "No RAM available"
  when: ansible_memory_mb <= 2048