<html>
  <head>
    <title> Hello from host {{ ansible_host }} from virtual host {{ item }}</title>
  </head>
  <body>
  <h1> Hello form host {{ ansible_host }} from virtual host {{ item }}</h1>
  <p>Ngnix by ansible</p>
  </body>
</html>
