server {
    listen 80;
    server_name {{ item }}.{{ ansible_hostname }} wwww.{{ item }}.{{ ansible_hostname }};
    
    location / {
		root {{ default_home }}/{{ item }}.{{ ansible_hostname }}/html;
		index  index.html
        try_files $uri $uri/ =404;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
      root html;
    }

}
