<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item }}</title>
</head>
<body>
    <h1>Hostname: {{ ansible_hostname }}, {{ item }} hosted {{ ansible_fqdn }}</h1>
    <h2>awesome</h2>
</body>
</html>