server {
    listen       80;
    server_name  {{ site_debian }} www.{{ site_debian }};
    root {{ debian_host_path }};

    access_log /var/log/nginx/{{ site_debian }}_access_log;
    error_log /var/log/nginx/{{ site_debian }}_error_log;

    
    location ~* ^.+\.(jpg|jpeg|gif|png|css|zip|tgz|gz|rar|bz2|doc|docx|xls|xlsx|exe|pdf|ppt|tar|wav|bmp|rtf|js)$ {
            expires modified +1w;
    }
}
