version: '3.17'
services:
  nginx:
    image: nginx:alpine 
    container_name: nginx-docker
    ports:
      - "80:80"      
      - "8080:8080"  
      - "8081:8081"  
      - "81:81"  
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro  
      - ./html:/usr/share/nginx/html:ro 
      - nginx-logs:/var/log/nginx 
    networks:
      - nginx_network
    restart: always
  log-parser:
    image: alpine  
    container_name: log-parser
    volumes:
      - nginx-logs:/logs  
    command: tail -f /logs/access.log  
    networks:
      - nginx_network
    restart: always

networks:
  nginx_network:
    driver: bridge
volumes:
  nginx-logs: