[defaults]
inventory           = ./inv.yaml
host_key_checking   = False
retry_files_enabled = False

# --- Updated callback configuration ---
stdout_callback         = ansible.builtin.default
callback_result_format  = yaml

interpreter_python  = auto_silent

[privilege_escalation]
become           = True
become_method    = sudo
become_user      = root
become_ask_pass  = False