server {
    listen 80;
    listen [::]:80;

    server_name {{ server_name_2 }};

    root {{ web_root_2 }};
    index index.html;

    access_log /var/log/nginx/site2.access.log;
    error_log  /var/log/nginx/site2.error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}