<html>

<head>
    <title>Ansible.CRUISE</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>

<body>
    <h1>ANSIBLE CRUISE BY AKUNEVICH KIRYL </h1>

    
</body>
<body>
SERVER DISTRIBUTION: {{ ansible_distribution }}<br> 
SERVER CPU: {{ ansible_processor  }} <br>
SERVER IP: {{ ansible_all_ipv4_addresses }} <br>
</body>
</html>
