server {
    listen {{ current_vhost.port }};
    server_name {{ current_vhost.name }};

    root {{ current_vhost.root }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}