<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ item.name }} ({{ item.domain }}) {% if item.name == 'VHOST01' %}THIS IS TEST PAGE01{% elif item.name == 'VHOST02' %}THIS IS TEST PAGE02{% endif %}</title>
</head>
<body>
    <h1>Hello from {{ item.name }} at {{ item.domain }}</h1>
    <p>Document root: {{ item.root }}</p>
    {% if item.name == 'VHOST01' %}
        <p>THIS IS TEST PAGE01</p>
    {% elif item.name == 'VHOST02' %}
        <p>THIS IS TEST PAGE02</p>
    {% endif %}
</body>
</html>
