<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ item.name }} ({{ item.domain }}) THIS IS TEST PAGE01</title>
</head>
<body>
    <h1>Hello from {{ item.name }} at {{ item.domain }}</h1>
    <p>Document root: {{ item.root }}</p>
</body>
</html>
