[defaults]
inventory = inventory
forks = 3
remote_tmp = /tmp/.ansible/tmp
host_key_checking = False
remote_user = javid_alizada

[privilege_escalation]
become = true
become_user = root
become_method = sudo
become_ask_pass = false

