<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Webpage</title>
</head>
<body>

{% if virtual_hosts is defined %}
<h1>Hi! This {{ item.name }}</h1>
<p>In hosts {{ item.ip }}</p>
{% endif %}


{# a comment #}
</body>
</html>
