---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
    - name: master
      port: {{ .Values.master_port }}
      targetPort: {{ .Values.master_targetport }}
    - name: slave
      port: {{ .Values.slave_port }}
      targetPort: {{ .Values.slave_targetport }}
  selector:
    app: {{ .Values.name }}