server {
        listen 80;
        listen [::]:80;

        root /var/www/{{ item }}/html;
        index index.html index.htm;

        server_name {{ item }};

        location / {
                try_files $uri $uri/ =404;
        }
}
