### {{ ansible_managed }}
server {
        listen 8999; 
        server_name "{{ hostvars[inventory_hostname].ansible_hostname }}.besmart.local";
        location / {
			root "{{ default_home }}";
			index  index.html
            try_files $uri $uri/ =404;
        }
}

server {
    listen 8000;
    server_name j-{{ hostvars[inventory_hostname].ansible_hostname }}.besmart.local;
     
    location / {
      proxy_set_header        Host $host:$server_port;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;
 
      # Fix the "It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://127.0.0.1:8080;
      proxy_read_timeout  90;
 
      proxy_redirect      http://127.0.0.1:8080 https://j-{{ hostvars[inventory_hostname].ansible_hostname }}.besmart.local;
  
      # Required for new HTTP-based CLI
      proxy_http_version 1.1;
      proxy_request_buffering off;
      # workaround for https://issues.jenkins-ci.org/browse/JENKINS-45651
      add_header 'X-SSH-Endpoint' 'j-{{ hostvars[inventory_hostname].ansible_hostname }}.besmart.local:50022' always;
    }
}