version: '3.3'

services:
   db:
     image: mysql:5.7
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: root_secret
       MYSQL_DATABASE: drupal
       MYSQL_USER: drupal
       MYSQL_PASSWORD: drupal

   drupal:
     depends_on:
       - db
     image: drupal:latest
     ports:
       - "8000:80"
     restart: always
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_USER: drupal
       WORDPRESS_DB_PASSWORD: drupal
       WORDPRESS_DB_NAME: drupal
volumes:
    db_data: {}
