[defaults] #все нижеприведенные параметры являются глобальнысми

inventory.ini = ./inventory.yaml  #применение локального файла из папки проекта
host_key_cheking = false #строгая проверка ssh при первом подключении
#stdout_callback = yaml #вывод в формате yaml

#Включение плагинов
callbacks_enabled = profile_tasks, timer #время выполнения задачи