<html>

<head>
    <title>Home task 06 by Alex Kunitsyn</title>
</head>

<body>
    <h1> 06.Ansible.Cruise by Alex Kunitsyn </h1>
</body>

<body>
Server OS version : {{ ansible_distribution }}<br> 
Server IP: {{ ansible_all_ipv4_addresses }} <br>
</body>

</html>
