server {
    listen       80;
    server_name  "{{ 'site_ubuntu' if (ansible_distribution == 'Ubuntu') else 'site_centos' }}" www."{{ 'site_ubuntu' if (ansible_distribution == 'Ubuntu') else 'site_centos' }}";
    root {{ default_home }};

    access_log /var/log/nginx/{{ 'site_ubuntu' if (ansible_distribution == 'Ubuntu') else 'site_centos' }}_access_log;
    error_log /var/log/nginx/{{ 'site_ubuntu' if (ansible_distribution == 'Ubuntu') else 'site_centos' }}_error_log;

    
    location ~* ^.+\.(jpg|jpeg|gif|png|css|zip|tgz|gz|rar|bz2|doc|docx|xls|xlsx|exe|pdf|ppt|tar|wav|bmp|rtf|js)$ {
            expires modified +1w;
    }
}
