<!DOCTYPE html>
<html lang="RU-ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpg" href="./img/favicon.jpg"/>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" media="(max-device-width: 320px)" href="styles/style-mobile.css">
    <title>MyFreedom</title>
</head>
<body>
<div class="container">
    <div class="nav-container">
        <div class="nav-panel">
            <div class="nav-panel-item"><a href="">Главная</a></div>
            <div class="nav-panel-item"><a href="">Преимущества</a></div>
            <div class="nav-panel-item"><a href="">Каталог</a></div>
            <div class="nav-panel-item"><a href="">Отзывы</a></div>
            <div class="nav-panel-item"><a href="">Контакты</a></div>
            <div class="nav-panel-item"><a href="">Корзина</a></div>
        </div>
        <div class="choice-button">
            <a href="	">ПОМОГИТЕ ВЫБРАТЬ</a>
        </div>
    </div>
    <div class="main-img-container">
        <h1>Ваш дедушка мороз живет у нас!
            Покупайте подарки для детей и
            взрослых в одном месте!
        </h1>
        <a href="#anchor" class="anchor"><img src="./img/anchor.png" alt=""></a>
    </div>
    <div class="text-info" id="anchor">
        <h2 class="title">Почему заказывают у нас?</h2>
        <p class="info">Хорошие подарки на новый год не так просто найти. Мы предлагаем лучшее. В прошлом году у нас
            было больше 9435 тысячи заказов из всех <span class="info-hidden">уголков Беларуси, каждый клиент остался доволен, обращайтесь и Вы!</span>
        </p>
    </div>

    <div class="adv-container">
        <div class="adv-item">
            <img src="img/garanty-icon.png" alt="" class="adv-ico">
            <p class="adv-title">Больше - дешевле.</p>
            <p class="adv-info">Скидки до 10 %! 1 подарок – 1%;
                2 подарок – 2%; и так до 10%.
                Нужна большая скидка - звоните.</p>
        </div>
        <div class="adv-item">
            <img src="img/economy-icon.png" alt="" class="adv-ico">
            <p class="adv-title">Работа без посредников.</p>
            <p class="adv-info">Вся продукция идет напрямую от
                производителя, а это значит, что мы не ставим наценок на товар.</p>
        </div>
        <div class="adv-item">
            <img src="img/delivery-icon.png" alt="" class="adv-ico">
            <p class="adv-title">Быстрая доставка</p>
            <p class="adv-info">Быстрая доставка в любые регионы Беларуси за 3 дня, по Минску – доставляем в день заказа.</p>
        </div>
        <div class="adv-item">
            <img src="img/reputation-icon.png" alt="" class="adv-ico">
            <p class="adv-title"><span class="adv-title-people-num">9435 </span><span class="happy-people">счастливых </span><span>покупателей</span></p>
            <p class="adv-info">У нас вы найдете подарки для взрослых и детей. Чего-то не нашли? Постараемся помочь, звоните!</p>
        </div>
    </div>

    <div class="product-list-container">
        <div class="text-info">
            <h2 class="product-list-title">А вот и то, что вы ищите!</h2>
            <p class="info">Весь асортимент нашего магазина к вашим услугам. Подарки на новый год - это выражение
                любви и уважения, помните об этом и выбирайте!</p>
        </div>
        <div class="product-list-filter">
            <div class="product-list-filter-btn active">
                <a href="">ВЕСЬ ПЕРЕЧЕНЬ</a>
            </div>
            <div class="product-list-filter-btn">
                <a href="">МУЖСКИЕ</a>
            </div>
            <div class="product-list-filter-btn">
                <a href="">ЖЕНСКИЕ</a>
            </div>
            <div class="product-list-filter-btn">
                <a href="">ДЕТСКИЕ</a>
            </div>
        </div>

        <div class="product-list-item-container">
            <div class="product-list-item">
                <div class="product-list-item-ico">
                    <img src="img/item1.png" alt="">
                </div>
                <div class="product-list-item-info">
                    <p class="product-list-item-title">Часы BREITLING NAVITIMER</p>
                    <p class="product-list-item-info">Цена 45 рублей</p>
                </div>
            </div>
            <div class="product-list-item">
                <div class="product-list-item-ico">
                    <img src="img/item2.png" alt="">
                </div>
                <div class="product-list-item-info">
                    <p class="product-list-item-title">Часы ULYSSE NARDIN MARINE</p>
                    <p class="product-list-item-info">Цена 45 рублей</p>
                </div>
            </div>
            <div class="product-list-item">
                <div class="product-list-item-ico">
                    <img src="img/item3.png" alt="">
                </div>
                <div class="product-list-item-info">
                    <p class="product-list-item-title">Часы TAG HEUER SPACE X</p>
                    <p class="product-list-item-info">Цена 45 рублей</p>
                </div>
            </div>
            <div class="product-list-item">
                <div class="product-list-item-ico">
                    <img src="img/item4.png" alt="">
                </div>
                <div class="product-list-item-info">
                    <p class="product-list-item-title">Часы ULYSSE NARDIN MARINE</p>
                    <p class="product-list-item-info">Цена 45 рублей</p>
                </div>
            </div>
        </div>

        <div class="product-list-filter-btn">
            <a href="">ВСЕ ПОДАРКИ</a>
        </div>
    </div>

    <div class="floor-container">
        <div class="contacts">
            <h3 class="contact-title">Контакты</h3>
            <p class="contact-type">Адрес</p>
            <p class="contact-address">220035 г. Минск, ул.Чичурина, 24-160</p>
        </div>
        <div class="map">
            <script  type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abefa277633a4f576d93252b210c1a84a57915f76ce7aa644a0d80e0128f04950&amp;width=842&amp;height=563&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>
    </div>
</div>
</body>
</html>