<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
  </head>
  <body>
    <header>
      <h1>Hostname: {{ item.hostname }}</h1>
      <p>FQDN: {{ item.fqdn }}</p>
    </header>
  </body>
</html>
