name: Buid and push Docker image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v3

    - name: Login in Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: B&P Docker img
      id: docker_build
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: dockeruser/mygoapp:latest

    - name: Push done
      if: success()
      run: |
        curl -X POST -H 'Content-type: application/json' \
        --data '{"text":":white_check_mark: Docker образ mygoapp:latest успешно собран и запушен!"}' \
        ${{ secrets.SLACK_WEBHOOK_URL }}

    - name: Push fail
      if: failure()
      run: |
        curl -X POST -H 'Content-type: application/json' \
        --data '{"text":":x: Сборка или пуш Docker образа mygoapp:latest завершились с ошибкой!"}' \
        ${{ secrets.SLACK_WEBHOOK_URL }}
