{% extends "authors/base.html" %}

{% block title %}
    Index of authors
{% endblock %}

{% load email_domain %}
{% load random_joke %}
{% block body %}
    <h1>Welcome to page of authors</h1>
    <hr>
        {% joke %}
    <hr>
    <div>
        <ul class="list-group">
          {% for author in authors %}
            <li class="list-group-item list-group-item-secondary">
                {{ author.id }}. {{ author }} | {{ author.email|domain }}
            </li>
          {% empty %}
            <h4>Soory, no authors!</h4>
          {% endfor %}
        </ul>
    </div>
    <hr>
    <a href="{% url 'authors:create' %}"><h5>Create new author</h5></a>
{% endblock %}
