<!DOCTYPE html>
<html>
    <head>
        <title>{{ item }} - {{ ansible_hostname }}</title>
    </head>
    <body>
        <h1>07.Ansible cruise </h1>
        <p>{{ item }} - {{ ansible_hostname }} is working</p>
    </body>
</html>
