### {{ ansible_managed }}
server {
        listen 80; 
        server_name "{{ hostvars[inventory_hostname].ansible_hostname }}.site";
        location / {
			root "{{ default_home }}";
			index  index.html
            try_files $uri $uri/ =404;
        }
}

server {
        listen 80; 
        server_name "{{ hostvars[inventory_hostname].ansible_hostname }}.site2";
        location / {
			root "{{ default_home2 }}";
			index  index.html
            try_files $uri $uri/ =404;
        }
}
