server {
  charset utf-8;
  client_max_body_size 501M;

  listen {{ item.port }}; ## listen for ipv4
  server_name _;

  root        /srv/http/{{ item.name }};
  index       index.html;

  # logs
  access_log  /var/log/nginx/{{ item.name }}_access.log;
  error_log   /var/log/nginx/{{ item.name }}_error.log;

  gzip on;
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;

  add_header 'Access-Control-Allow-Origin' '*';

  location ~ \.(js|css|png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar)$ {
    expires max;
    try_files $uri = 404;
  }

  error_page 404 /404.html;

  location ~ /\.(ht|svn|git) {
    deny all;
  }

  # set module statistic
  location /nginx_status {
    stub_status on;
    access_log off;
    #allow 127.0.0.1;
  }
}
