ingress:
  enabled: true
  ingressClassName: nginx
  hostname: wordpress.k8s-5.sa

service:
  type: ClusterIP

persistence:
  enabled: false

mariadb:
  primary:
    persistence:
      enabled: false
