<html>
    <head>
        <title>Welcome to {{ virtual_host }}!</title>
    </head>
    <body>
        <h1>Success! The {{ virtual_host }} virtual host (server block) is working on host {{ ansible_hostname }} !</h1>
    </body>
</html>
