server {
        listen 80;
        listen [::]:80;

        root /var/www/{{virtual_host}}/html;
        index index.html index.htm index.nginx-debian.html;

        server_name {{virtual_host}} www.{{item}};

        location / {
                try_files $uri $uri/ =404;
        }
}
