<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
</head>
<body>
    <h1> This page is runned on the {{ ansible_hostname }} host.</h1>
</body>
</html>
