server {
  listen 80;
  listen [::]:80;
  server_name {{ item }};
  root /var/www/{{ item }}/html/;
  
  location / {
      index index.html index.htm index.nginx-debian.html;
      try_files $uri.html $uri $uri/ =404;
  }

  access_log /var/log/nginx/{{ item }}_access.log;
  error_log /var/log/nginx/{{ item }}_error.log;

}
