<!DOCTYPE html>
<html>
<head>
    <title>{{ item }}</title>
</head>
<body>
    <h1>{{ item }}</h1>

    <p>Inventory host: {{ inventory_hostname }}</p>

    <p>FQDN: {{ ansible_fqdn }}</p>

    <p>Managed by Ansible</p>
</body>
</html>
