{% extends "base.html" %}

{% block content %}
<h2>Добавить пользователя</h2>
<form method="POST" class="w-50">
  <div class="mb-3">
    <label class="form-label">Имя</label>
    <input type="text" name="username" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" name="email" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}