[defaults] #все нижеприведенные параметры являются глобальными

inventory = localhost
host_key_cheking = false #строгая проверка ssh при первом подключении
#stdout_callback = yaml #вывод в формате yaml

#Включение плагинов
callbacks_enabled = timer #время выполнения задачи