<html>
<head>
<title>My Test Page for {{ ansible_distribution }} !</title>
</head>
<body>
<h1>My Test Page for {{ ansible_distribution }} !</h1>
<p>My Test Page for {{ ansible_distribution }} ! ip adress is </p>
</body>
</html>