<html>
<head>
<title>This is {{ item }}.</title>
</head>
<body>
<h2>This is page of {{ item }} domain </h2>
<h2>Hostname : {{ ansible_facts.hostname }} </h2>
<h2>By Andrei Baitau </h2>
</body>
</html>
