# config file for ansible -- http://ansible.com/
# ==============================================
[defaults]

# some basic default values...

inventory      = hosts
#library        = /usr/share/my_modules/
remote_tmp     = /tmp/.ansible-$USER/tmp
local_tmp      = /tmp/.ansible-local-$USER/tmp
forks          = 15
poll_interval  = 15
#sudo_user      = root
#ask_sudo_pass = True
#ask_pass      = True
transport      = ssh
remote_port    = 22
module_lang    = C
module_set_locale = False
ssh_retries    = 3

# plays will gather facts by default, which contain information about
# the remote system.
#
# smart - gather by default, but don't regather if already gathered
# implicit - gather by default, turn off with gather_facts: False
# explicit - do not gather by default, must say gather_facts: True
gathering = implicit

# by default retrieve all facts subsets
# all - gather all subsets
# network - gather min and network facts
# hardware - gather hardware facts (longest facts to retrieve)
# virtual - gather min and virtual facts
# facter - import facts from facter
# ohai - import facts from ohai
# You can combine them using comma (ex: network,virtual)
# You can negate them using ! (ex: !hardware,!facter,!ohai)
# A minimal set of facts is always gathered.
gather_subset = all

# some hardware related facts are collected
# with a maximum timeout of 10 seconds. This
# option lets you increase or decrease that
# timeout to something more suitable for the
# environment.
gather_timeout = 30

# uncomment this to disable SSH key host checking
host_key_checking = False

# change the default callback
stdout_callback = debug
# enable additional callbacks
callback_whitelist = timer,profile_tasks

# SSH timeout
timeout = 30

# logging is off by default unless this path is defined
# if so defined, consider logrotate
log_path = ansible.log

# list any Jinja2 extensions to enable here:
jinja2_extensions = jinja2.ext.do,jinja2.ext.i18n

# format of string {{ ansible_managed }} available within Jinja2
# templates indicates to users editing templates files will be replaced.
# replacing {file}, {host} and {uid} and strftime codes with proper values.
#ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
# {file}, {host}, {uid}, and the timestamp can all interfere with idempotence
# in some situations so the default is a static string:
ansible_managed = Ansible managed

# if set to a persistent type (not 'memory', for example 'redis') fact values
# from previous runs in Ansible will be stored.  This may be useful when
# wanting to use, for example, IP information from one group of servers
# without having to talk to them in the same playbook run to get their
# current IP information.
fact_caching = memory

[ssh_connection]
retries=5
ssh_args = -o ControlMaster=auto -o ControlPersist=2m -o ConnectTimeout=60 -o ConnectionAttempts=20

[colors]
#highlight = white
verbose = blue
#warn = bright purple
error = red
debug = dark gray
#deprecate = purple
skip = cyan
#unreachable = red
ok = green
changed = yellow
#diff_add = green
#diff_remove = red
#diff_lines = cyan
