name: Minikube Cluster CI
on:
  pull_request:
    branches: [ "main" ]
jobs:
  minikube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Minikube
        run: |
          curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube
      - name: Start Minikube
        run: |
          minikube start --driver=docker --kubernetes-version=v1.34.0
          kubectl get nodes -o wide
