<!DOCTYPE html>
<html>
<head>
  <title>Welcome to {{ item.domain }}</title>
</head>
<body>
  <h1>Welcome to {{ item.domain }}</h1>
  <p>This is the default page for the site {{ item.domain }}.</p>
  <p>This website is hosted on {{ ansible_fqdn }}.</p>
</body>
</html>