---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
    - name: master
      port: {{ .Values.master_p }}
      targetPort: {{ .Values.master_t }}
    - name: slave
      port: {{ .Values.slave_p }}
      targetPort: {{ .Values.slave_t }}
  selector:
    app: {{ .Values.name }}